<div class="main-container">
  <div class="keyboard-container" *ngFor="let keyboardRows of currKeyboard">
      <button mat-flat-button
        *ngFor="let keyboardKey of keyboardRows"
        [class.key]="wideKeys.indexOf(keyboardKey.primary) === -1 && extraWideKeys.indexOf(keyboardKey.primary) === -1"
        [class.wide-key]="wideKeys.indexOf(keyboardKey.primary) !== -1"
        [class.extra-wide-key]="extraWideKeys.indexOf(keyboardKey.primary) !== -1"
        [ngClass]="renderActiveKey(keyboardKey) ? 'key-active' : 'key-inactive'"
        class="keyboard-key" 
        (click)="keyClicked(keyboardKey)"
        >
        {{renderKey(keyboardKey)}}
      </button>
  </div>
</div>  