.main-container {
    margin: 16px;
}

.key {
    width: 95px;
}

.wide-key {
    width: 200px;
}

.extra-wide-key {
    width: 515px;
}

.key-active {
    background: #009de8;
}
.key-active:hover {
    background: #0bb0ff;
}
.key-inactive {
    background: #424242;
}
.key-inactive:active {
    background: #0bb0ff !important;
}
.key-inactive:hover {
    background: #5d5b5b;
}

.keyboard-container {
    width: min-content;
    padding-bottom: 4px;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
}

.keyboard-key {
    height: 75px;
    border-radius: 16px;
    color: white;
    text-align: center;
    line-height: 75px;
    font-size: 2em;
}