<div class="main-container">
  <form (click)="focusInput()">
    <mat-form-field>
      <mat-label>Your Todo</mat-label>
      <input matInput [formControl]="todoFormControl" [errorStateMatcher]="matcher" maxlength="20">
    </mat-form-field>
    <mat-error *ngIf="todoFormControl.hasError('maxlength')">
      20 characters is limit
    </mat-error>
    <mat-error *ngIf="todoFormControl.hasError('pattern')">
      Todo can contain only letters and numbers
    </mat-error>
  </form>
  <mat-card *ngFor="let todo of todoList; let idx = index"
    [ngClass]="isTodoActive(todo) ? 'todoItem-active' : 'todoItem'" (click)="focusTodo(idx)">
    {{todo.text}}
  </mat-card>
  <app-keyboard class="keyboard" (keyClickedCallback)="handleVirtKeyboardKey($event)"></app-keyboard>
</div>