.main-container {
    margin: 16px;
}

.todoItem-active {
    background: #009de8;
    margin: 16px 54px;
    color: white;
}

.todoItem {
    background: darkgray;
    margin: 16px 54px;
    cursor: pointer;
}

.keyboard {
    margin: 0 auto;
    width: min-content;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    transform: scale(0.7);
}
